body{
    font-size: 120%;
    background: #F8F8F8;
    background-image: url("bg.jpg");
    background-size: cover;
    
}
.header{
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: limegreen;
    text-align: center;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;

}
form, .content{
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    background: grey;
    border-radius: 10px;
}
.input{
    margin: 10px 0px 10px 0px;
}
.input label{
    display: block;
    text-align: left;
    margin: 3px;
}
.input input{
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 30px;
    border-radius: 5px;
    border: 1px solid gray;

}
.btn{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: cadetblue;
    border: none;
    border-radius: 5px;
}
.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid firebrick;
    color: brown;
    border-radius: 5px;
    text-align: left;
}
.success{
    color: limegreen;
    background: mintcream;
    border: 1px solid limegreen;
    margin-bottom: 20px;
}
.main{
    width: 50%;
    margin: 20px auto;
    padding-top: 5px;
    background-color:limegreen;
    opacity: 0.8;
    border-radius: 10px;
    padding-bottom: 10px;
}
#formm{
    width: 50%;
    margin: 20px auto;
}
#formm div{
    margin-top: 15px;
    margin-bottom: 5px;
}
#img_div{
    color: #ffffff;
    font-size: 30px;
    width: 80%;
    padding: 5px;
    margin: 15px auto;
    border: 2px solid mintcream;
    border-radius: 10px;
}
#img_div:after{
    content: "";
    display: block;
    clear: both;
}
img{
    float: left;
    margin: 5px;
    width:300px;
    height: 140px;
}
.space{
    margin: 40px;
    padding: 40px;
}
.contentt{
    margin-left: 1200px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background: cadetblue;
    border: none;
    border-radius: 5px;

}
.post, .top{
    margin-left: 50px;
    height: 100px;
    width: 300px;
    font-size: 45px;
    color: white;
    background: cadetblue;
    border: none;
    border-radius: 15px;
    text-align: center;
    }
    .post{
        margin-left: 400px;
    }
    .both{
        display: flex;
        margin-right: 400px;
        margin-left: 533;
    }
    #title{
        background-image: url("bgg1.jpg");
        background-size: cover;
        padding-top: -63px;
        margin-bottom: 3px;
        text-align: center;
        border: 1px solid wheat;
        font-family: sans-serif, Verdana, Geneva, Tahoma;
        font-size: 50px;
       opacity: 0%;
        color: white;
        border-radius: 10px;
    }
